/* ==================== Globals ==================== */

body {
    padding: 0;
    margin: 0;
    width: 100%;

    font-family: Arial, cursive;
}

* {
    box-sizing: border-box;
}

.hide {
    display: none !important;
}

/* ==================== Navbar styles ==================== */
.navbar {
    padding: 0;
    margin: 0;
    position: fixed;
    height: 10vh;
    top: 0;
    display: flex;
    background-color: #3F72AF;
    width: 100%;
    z-index: 99;
    overflow: hidden;
    line-height: 10vh;
}

.navbar a:not(.navbar-logo) {
    height: 100%;
    padding: 0 12pt;
    text-align: center;
    text-decoration: none;
    font-size: 16pt;
    font-weight: bold;
    white-space: nowrap;
}


.navbar .navbar-logo {
    content: url("./logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.navbar a:visited,
.navbar a {
    color: #DBE2EF;
    user-select: none;
}

.navbar a:hover:not(.navbar-logo),
.navbar a.cur-page {
    background-color: #112D4E;
}

/* ==================== Bull shit ==================== */
table, th, tr, td {
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3F72AF;
    color: white;
}

tr {
    background-color: #F9F7F7;
}

tr:nth-child(odd) {
    background-color: #DBE2EF;
}

th, td {
    text-align: center;
    padding: 10px 0;
    font-size: 14pt;
}

table {
    width: 100%;
    border-collapse: collapse;
}

/* ==================== Containers ==================== */

body .container {
    margin: 0 auto;
    width: 70vw;
    padding: 0 2.5vw;
}

body > *:not(nav.navbar) {
    margin-top: calc(20px + 10vh);
}

body > *:not(nav.navbar) ~ * {
    margin-top: 0;
}

/* ==================== Forms ==================== */
input,
input:focus,
input:active,
select,
select:focus,
select:active {
    outline-width: 0;
}

input,
select {
    padding: 10px;
    margin: 5px 0;

    border: 2px solid #3F72AF;
    border-radius: 5px;

    transition: 0.2s;

    font-size: 12pt;
}

input:focus:not([type="radio"], [type="submit"], [type="reset"], [type="button"]), input:active, select:focus, select:active {
    box-shadow: 0 0 7px #112D4E
}

input:focus:not([type="radio"], [type="submit"], [type="reset"], [type="button"]), select:focus {
    border-bottom: 2px solid #3F72AF;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    transition: 0.1s;
}

#search-form {
    margin-bottom: 20px;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid black;
}

#search-form > div {
    display: flex;
    margin-top:10px;
}

#search-form > div * {
    flex-grow: 1;
    margin-right: 10px;
}

#search-form div *:last-child{
    margin-right: 0;
}

#filters span input,
#filters span select {
    width: 100%;
}

.gpa-selector {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gpa-selector input {
    flex-grow: 1;
}

#filters span .gpa-selector *:not(:empty) {
    margin: 0 5pt 0 0;
}

#filters span .gpa-selector *:not(:empty, :first-child) {
    margin: 0 5pt 0 5pt;
}

.active-btn {
    border-color: #0e2ea9;
}